.page-template .content{
	position: relative;
}

.page-template .nav-articles .read,
.page-template .nav-title,
.relations .nav-articles .read{
	background: #60b87b;
}

.page-template .nav-articles .nav-article-title .nav-article-title-inner.active,
.relations .nav-articles .nav-article-title .nav-article-title-inner.active,
.page-template .nav-articles .nav-sub-article-title .nav-sub-article-title-inner.active,
.relations .nav-articles .nav-sub-article-title .nav-sub-article-title-inner.active{
	border-color: #60b87b;
}

.page-template .pyramid-title,
.pyramid-title.visible{
	cursor: pointer;
}

.page-template .pyramid-title:hover,
.pyramid-title.active,
.pyramid-title.visible{
	background-color: rgb(96, 184, 123);
	background-color: rgba(96, 184, 123, 0.8);
}

.page-template .pyramid-title:hover h4,
.pyramid-title.active h4,
.pyramid-title.visible:hover h4{
	color: #fff;
	text-decoration: underline;
}

/* section class = content */
section.content{
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: auto;
	/*
	width: 1520px;
	max-width: 100%;
	padding: 110px 30px;
	*/
}

/* nav-article */

@media screen and (max-height: 600px) {

	/* scroll-active */
	.nav-articles li{
		font-size: 14px;
	}

	.nav-articles .nav-article-title .nav-article-title-inner{
		line-height: 20px;
	}

	.nav-articles .nav-sub-article-title{
		font-size: 13px;
	}

	.nav-articles .nav-sub-article-title{
		line-height: 16px;
	}
	/* ./scroll-active */

}

.nav-articles ul{
	padding-left: 0;
	list-style-type: none;
}

.nav-articles li{
	color: #3c3c3c;
	font-size: 16px;
	cursor: pointer;
}

.nav-articles .nav-sub-article-title{
	font-size: 14px;
	line-height: 18px;
}



.nav-articles .nav-article-title .nav-article-title-inner,
.nav-articles .nav-sub-article-title .nav-sub-article-title-inner{
	padding: 4px 10px 4px 20px;
	background-color: #f9f9f9;
	border-radius: 5px;
	text-transform: uppercase;
	margin-bottom: 5px;
	position: relative;
	overflow: hidden;
}

.nav-sticky > ul > .nav-article-title:first-child .nav-article-title-inner{
	margin-bottom: 0 !important;
}

.nav-articles .nav-article-title .article-title,
.nav-articles .nav-sub-article-title .sub-article-title{
	position: relative;
}

.nav-articles .nav-article-title .nav-article-title-inner{
	line-height: 24px;
	border: 1px solid #f9f9f9;
}

.nav-articles .nav-sub-article-title .nav-sub-article-title-inner{
	text-transform: none;
	padding-left: 40px;
	line-height: normal;
	border: 1px solid #f9f9f9;
}

.nav-articles .nav-article-title .nav-article-title-inner.active,
.nav-articles .nav-sub-article-title .nav-sub-article-title-inner.active{
	border: 1px solid #00a0d9;
}

.nav-article-title .nav-sub-article{
	display: none;
	margin-bottom: 0;
}

.nav-articles .read{
	position: absolute;
	left: 0;
	top: 0;
	width: 0;
	height: 100%;
	background: #00a0d9;
	z-index: 0;
}

.page-template .nav-articles .read,
.page-template .nav-title,
.relations .nav-articles .read{
	background: #60b87b;
}

.page-template .nav-articles .nav-article-title .nav-article-title-inner.active,
.relations .nav-articles .nav-article-title .nav-article-title-inner.active,
.page-template .nav-articles .nav-sub-article-title .nav-sub-article-title-inner.active,
.relations .nav-articles .nav-sub-article-title .nav-sub-article-title-inner.active{
	border-color: #60b87b;
}

.single-thematique .thematique,
.referentiel{
	overflow: hidden;
}

.single-thematique .thematique h2,
.single-thematique .thematique h3,
.single-thematique .thematique h4,
.single-thematique .thematique h5,
.single-thematique .thematique h6,
.single-thematique .thematique a{
	color: #00a0d9;
}

.referentiel h2,
.referentiel h3,
.referentiel h4,
.relations h4,
.referentiel h5,
.referentiel h6,
.referentiel a{
	color: #60b87b;
}

.thematique-descr,
.referentiel-descr{
	position: relative;
	padding-bottom: 150px;
}

.referentiel-descr:after{
	background: #60b87b;
}

.referentiel-descr:last-child:after{
	display: none;
}

.single-thematique .thematique .article-part,
.referentiel .article-part,
.referentiel .sub-article-part{
	margin-bottom: 100px;
}

.single-thematique .thematique .thematique-content{
	-webkit-transition: width 0.3s ease, padding 0.3s ease;
	-o-transition: width 0.3s ease, padding 0.3s ease;
	transition: width 0.3s ease, padding 0.3s ease;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding-right: 50px;
}

.single-thematique .relation-active .thematique .thematique-content{
	width: 730px;
	max-width: 50%;
	padding: 0 2% 0 0 !important;
}

.nav-articles .nav-sub-article .empty,
.sub-article-part-empty{
	display: none !important;
}

/* nav-sticky */
.nav-sticky{
  width: 100%;
  margin-left: -10px;
}

.relation-active .nav-sticky.open > ul, .small-screen .nav-sticky.open > ul{
  top: 45px;
}

.nav-sticky{
	position: absolute;
	width: 320px;
	margin-right: 7%;
	-webkit-transition: top 0.3s ease;
	-o-transition: top 0.3s ease;
	transition: top 0.3s ease;
	height: 60px;
	z-index: 1;
}

.single-thematique .relation-active .nav-sticky{
	top: 0 !important;
	z-index: 1;
}

.relation-nav .nav-sticky{
	position: relative;
	margin-right: 0;
}

.relation-nav{
	position: relative;
	z-index: 4;
	margin-left: 60px;
}

.nav-articles ul{
	padding-left: 0;
	list-style-type: none;
}

.nav-sticky > ul{
	position: relative;
	transition: top 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
	-webkit-transition: top 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
	-o-transition: transform 0.3s ease, top 0.3s ease, opacity 0.3s ease;
	transition: transform 0.3s ease, top 0.3s ease, opacity 0.3s ease;
	transition: transform 0.3s ease, top 0.3s ease, opacity 0.3s ease, -webkit-transform 0.3s ease;
	z-index: 4;
	background: #fff;
	margin-top: 5px;
}

.relation-active .nav-sticky > ul,
.small-screen .nav-sticky > ul{
	opacity: 0;
	z-index: 1;
	pointer-events: none;
	-webkit-transform: translateY(-100%);
	    -ms-transform: translateY(-100%);
	        transform: translateY(-100%);
}

.relation-active .nav-sticky.open > ul,
.small-screen .nav-sticky.open > ul{
	opacity: 1;
	position: relative;
	pointer-events: auto;
	top: 75px;
	-webkit-transform: translateY(0);
	    -ms-transform: translateY(0);
	        transform: translateY(0);
}

.nav-sticky > ul > .nav-article-title:first-child .nav-article-title-inner{
	margin-bottom: 0 !important;
}

.nav-sticky{
  /*width: 100%;*/
  margin-left: -10px;
}

.relation-active .nav-sticky.open > ul, .small-screen .nav-sticky.open > ul{
  top: 45px;
}

/* nav-title */
.nav-title{
  height: 40px;
  line-height: 40px;
  border-radius: 0;
}
.nav-title{
	position: absolute;
	z-index: 2;
	top: 0;
	left: 0;
	display: inline-block;
	opacity: 0;
	-webkit-transition: opacity 0.3s ease;
	-o-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
	height: 60px;
	line-height: 60px;
	font-weight: 700;
	text-transform: uppercase;
	font-size: 18px;
	cursor: pointer;
	padding-left: 30px;
	width: 100%;
	border-radius: 0 0 5px 5px;
	color: #fff;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	background: #00a0d9;
	pointer-events: none;
}

.nav-title:after{
	content: "";
	display: block;
	position: absolute;
	right: 30px;
	top: 0;
	height: 100%;
	width: 21px;
	background: url('img/ui/godown.png') no-repeat right center;
	background-size: 21px 11px;
	transition: -webkit-transform 0.3s ease;
	-webkit-transition: -webkit-transform 0.3s ease;
	-o-transition: transform 0.3s ease;
	transition: transform 0.3s ease;
	transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.open .nav-title:after{
	-webkit-transform: rotate(180deg);
	    -ms-transform: rotate(180deg);
	        transform: rotate(180deg);
}

.relation-active .nav-title,
.small-screen .nav-title{
	opacity: 1;
	pointer-events: auto;
}

.relations .nav-title{
	background: #60b87b;
}

/* nav-article-title*/
.nav-articles .nav-article-title .nav-article-title-inner,
.nav-articles .nav-sub-article-title .nav-sub-article-title-inner{
	padding: 4px 10px 4px 20px;
	background-color: #f9f9f9;
	border-radius: 5px;
	text-transform: uppercase;
	margin-bottom: 5px;
	position: relative;
	overflow: hidden;
}

.nav-sticky > ul > .nav-article-title:first-child .nav-article-title-inner{
	margin-bottom: 0 !important;
}

.nav-articles .nav-article-title .article-title,
.nav-articles .nav-sub-article-title .sub-article-title{
	position: relative;
}

.nav-articles .nav-article-title .nav-article-title-inner{
	line-height: 24px;
	border: 1px solid #f9f9f9;
}

.nav-articles .nav-sub-article-title .nav-sub-article-title-inner{
	text-transform: none;
	padding-left: 40px;
	line-height: normal;
	border: 1px solid #f9f9f9;
}

.nav-articles .nav-article-title .nav-article-title-inner.active,
.nav-articles .nav-sub-article-title .nav-sub-article-title-inner.active{
	border: 1px solid #00a0d9;
}

.nav-article-title .nav-sub-article{
	display: none;
	margin-bottom: 0;
}
