// WIDGET MENU

[ role= "complementary" ] {
  margin-top: $unit-rem * 1;
  color: $primaryColor;

  .card {
    border: 0px;
    margin-bottom: $unit-rem * 1;
  }
    & ul {
    list-style: none;
    padding-left: 0; // reset padding because ul and ol
    margin-bottom: 0;
  }
}
