// We use sticky
[ role= "complementary" ] {

  .sticky {
      position: -webkit-sticky;
      position: sticky;
      top: 0;

      [ class = "list-group" ] {


        li {

        }
      }

  }
}
